@import "../../../../styles/fonts.scss";
@import "../../../../styles/utils.scss";
@import "../../../../styles/colors.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-decoration: none;
}

.ico {
  background: white;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icoText {
  position: fixed;
  color: blue;
  font-size: 22px;
  font-weight: 400;
  @extend %unselectibal;
}

.icoImg {
  position: fixed;
  height: inherit;
  width: inherit;
  border: 2px solid $color-bg-container;
  border-radius: 50%;
}

.notifLength {
  display: flex;
  position: relative;
  top: 13px;
  left: 17px;
  width: 15px;
  height: 12px;
  padding: 2px;
  background-color: red;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  p {
    @extend %font_p;
    font-size: 9px;
  }
}

.userNameText {
  @extend %font_h2;
  font-size: 20px;
  @extend %unselectibal;
}

.arrow {
  @extend %font_h2;
  font-size: 24px;
  line-height: 10px;
  @extend %unselectibal;
}

.arrowDown {
  margin: 0px 0 10px 6px;
}

.arrowTop {
  margin: 13px 0 0px 6px;
}
