@import "../../styles/colors.scss";

.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 190px;
  height: 240px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.removeImage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0;
  height: 30px;
  width: 30px;
  margin: 10px 10px 0 0;
  border-radius: 50%;
  border-width: 3px;
  background-color: $color-wrong-border;
  span {
    position: absolute;
    width: 13px;
    height: 3px;
    background-color: white;
    transform: rotate(135deg);
    &:nth-of-type(1) {
      transform: rotate(-135deg);
    }
  }
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
