@import "../../styles/fonts.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  padding: 2px 10px;
  min-width: 25px;
  width: max-content;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
}

.textDate {
  @extend %font_chat;
  font-size: 14px;
  font-weight: bolder;
}
