.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 15px;
  margin: 140px auto;
}

.inputWithHeader {
  width: 270px;
  margin-bottom: 25px;
}

@media screen and (max-width: 660px) {
  .container {
    width: 80%;
    height: 340px;
    justify-content: flex-start;
  }
  .inputWithHeader {
    width: 80% !important;
    margin-bottom: 15px !important;
    margin-top: 20px !important;
  }
  .inputStyle {
    height: 44px !important;
    margin-top: 10px !important;
    border-radius: 10px !important;
  }
}

@media screen and (max-width: 460px) {
  .container {
    width: 90%;
  }
  .inputWithHeader {
    width: 90% !important;
    margin-bottom: 10px !important;
    margin-top: 20px !important;
    h2 {
      font-size: 22px;
    }
  }
  .inputStyle {
    height: 36px !important;
    margin-top: 5px !important;
    border-radius: 6px !important;
  }
}
