.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 15px;
  margin: 140px auto;
}

.inputWithHeader {
  width: 270px;
  margin-bottom: 25px;
}
