.container {
  width: 250px;
  height: fit-content;
}

.componentHeader {
  position: relative;
  width: 100%;
  top: 2px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom: 0;
  h1 {
    font-size: 28px;
  }
}