@import "../../styles/fonts.scss";

.container {
  width: 250px;
  height: 62px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.headerTxt {
  @extend %font_h2;
  font-size: 24px;
  line-height: 24px;
  margin-left: 2px;
  margin-bottom: 3px;
}
