$color-bg: #00a0d4;
$color-bg-container: rgba(255, 255, 255, 0.3);
$colort-bg-container-rgb: rgb(77, 189, 225);
$color-font-h1: rgb(247, 234, 234);
$color-font-p: rgb(230, 230, 230);
$color-font-btn: rgb(241, 242, 245);
$color-wrong-border: rgb(220, 107, 107);
$color-font-error-p: rgb(192, 54, 54);
$color-choosed-input-border: rgba(255, 255, 255, 0.8);
$color-white: rgb(255, 255, 255);
$color-bg-accept-btn: rgb(148, 175, 224);
$color-error-indicator: rgb(205, 78, 78);
$color-success-indicator: rgb(63, 163, 63);
$color-second-layot: rgb(77, 189, 225);
$color-third-layot: rgb(131, 209, 234);
$color-border-gray-layot: rgb(146, 168, 175);
$color-gray-layot: rgb(99, 130, 140);
$color-inside-layot: rgba(33, 176, 224, 0.661)