%hideScrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

%disableScroll {
  overflow: hidden;
}

%unselectibal {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}
