@import "../../styles/colors.scss";

.container {
  display: flex;
  align-items: center;
  height: 49px;
  width: min-content;
  min-width: 49px;
  max-width: 300px;
  border-radius: 50%;
  padding: 0;
  border: 0;
  background-color: transparent;
  border: 2px solid transparent;
}

.border {
  border: 2px solid $color-wrong-border;
}

.reverseContent {
  flex-direction: row-reverse;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: white;
  color: blue;
  font-size: 22px;
  font-weight: 400;
}
