@import "../../styles/colors.scss";

.container {
  display: flex;
  position: fixed;
  top: -27px;
  padding: 4px 15px;
  background-color: rgb(77,189,225);
  border: 5px solid $color-bg-container;
  width: max-content;
  border-radius: 4px;
  height: 34px;
}


.headerText {
  font-size: 30px;
  color: $color-white;
}