@import '../../styles/backgroudns.scss';
@import '../../styles/backgroudns.scss';
@import '../../styles/backgroudns.scss';


.—Åontiner {
  display: flex;
  align-items: flex-end;
  padding: 10px 5px 10px 20px;
  min-height: 40px;
  @extend %bg_component;
}

.textInput {
  width: 770px;
  min-height: 38px;
  background: #fff;
  border: unset;
  border-style: unset;
  border-color: unset;
  cursor: unset;
  outline: none;
  resize: none;
  border-radius: 20px;
  padding: 12px 15px;
  @extend %font_chat;
  @extend %hideScrollbar;
}

.btn {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background: #fff;
  border-radius: 50px;
  border: 0;
  @extend %font_chat;
  font-size: 40px;
  color: $color-bg;
}