@import "../../styles/utils.scss";

.container {
  margin-bottom: 10px;
}

.messageContainer {
  height: 700px;
  padding: 10px 15px;
  overflow-y: scroll;
  @extend %hideScrollbar;
}

@media screen and (max-width: 1440px) {
    .messageContainer {
      height: 70vh;
    }
}

@media screen and (max-width: 1280px) {
  .messageContainer {
    height: 60vh;
  }
}
@media screen and (max-width: 800px) {
  .messageContainer {
    height: 70vh;
  }
}

@media screen and (max-width: 450px) {
  .messageContainer {
    height: 65vh;
  }
}