@import "/src/styles/backgroudns.scss";
@import '/src/styles/fonts.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 150px;
  margin: 150px auto 0 auto;
  @extend %bg_component;
  p {
    @extend %font_p;
    color: rgb(230, 227, 227);
    font-size: 22px;
    font-weight: bold;
  }
}

.btnContainer {
  margin-top: 20px;
  button {
    width: 80px;
    height: 40px;
    &:first-of-type {
      margin-right: 10px;
    }
  }
}