@import "../../styles/fonts.scss";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 260px;
  padding: 20px 5px 10px 15px;
  height: fit-content;
}

.textInput {
  margin-right: 0;
  margin-bottom: 15px;
}