@import '/src/styles/backgroudns.scss';
@import 'src/styles/colors.scss';
@import '/src/styles/fonts.scss';


.container {
  min-width: 290px;
  height: 190px;
  h1 {
    margin: 0 auto 5px auto;
    width: max-content;
    @extend %font_h1;
    font-size: 28px;
  }
  @extend %bg_component;
}
.hr {
  height: 5px;
  background: $color-bg-container;
  margin-bottom: 10px;
}