.container {
  display: flex;
  height: 50px;
  width: calc(100% - 20px);
  margin: 10px auto;
  border-radius: 25px;
  background-size: 200% 100%;
  transition: background-position 0.4s ease;
  background-image: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.3) 50%);
  transition: background-position 0.2s ease;
}

.bgColor {
  background-position: 100% 0;
}

.ico {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  p {
    color: blue;
    font-size: 25px;
  }
}

.infDiv {
  padding: 5px 5px 5px 10px;
  margin-left: 10px;
  background: white;
  width: calc(100% - 70px);
  border-radius: 15px;
}
