@import "../../styles/fonts.scss";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  width: 1280px;
  padding: 60px 0;
  h1 {
    margin: 0 auto 5px auto;
    width: max-content;
    @extend %font_h1;
    font-size: 28px;
  }
}
