@import "../../styles/fonts.scss";

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  width: 1150px;
  padding: 60px 0;
  h1 {
    margin: 0 auto 5px auto;
    width: max-content;
    @extend %font_h1;
    font-size: 28px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 880px) {
  .container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding-left: 30px;
    padding-bottom: 0;
  }
}
